:root {
    --bg-color: rgba(22, 22, 22, 0.5);
    --text-color: #fff;
}


/* section 1 */

.support-section {
    padding: 80px 20px 20px 20px;
    width: 100vw;
    height: 80vh;
    margin-top: 80px;
    background-color: navy;
    justify-content: center;
    color: white;
}

.que {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: larger;
}

.search1-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.search1-form {
    display: flex;
    max-width: 600px;
    width: 100%;
    height: 10vh;
}

.search1-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
    font-size: 19px;
}

.search1-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
}

.search1-button:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
    text-align: center;
    background-color: white;
    color: black;
}

.result-item {
    margin: 10px 0;
}

.result-link {
    justify-content: center;
    justify-items: center;
    color: black;
    background-color: white;
    font-size: larger;
    text-decoration: none;
}

.result-link:hover {
    text-decoration: underline;
}

.no-results {
    color: #666;
}

.answer {
    margin-top: 40px;
    text-align: center;
    font-size: larger;
}

.answer ul {
    list-style-type: none;
    padding: 0;
}


/* Responsive Design */

@media (max-width: 600px) {
    .search1-form {
        flex-direction: column;
        height: auto;
    }
    .search1-input,
    .search1-button {
        width: 100%;
        border-radius: 4px;
    }
    .search1-button {
        margin-top: 10px;
    }
}


/* section 2 flex */

.section2 {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.flex-container img {
    width: 30vw;
    height: 50vh;
    border-radius: 50%;
}

.flex-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.flex-container a {
    text-decoration: none;
    color: navy;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .flex-container img {
        width: 60vw;
        height: auto;
    }
}